apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: application
  labels:
    app: nginx-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
      - name: nginx
        image: vladmgb/docker-app
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "32Mi" 
            cpu: "25m"     
          limits:
            memory: "64Mi"
            cpu: "50m"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: application
spec:
  selector:
    app: nginx-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort